body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "BlogCube";
  src: local("BlogCube"), url("./Fonts/blog-cube.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "BlogCubeOutline";
  src: local("BlogCubeOutline"), url("./Fonts/blog-cube-outline.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "cyberDisplay";
  src: local("cyberDisplay"), url("./Fonts/cyber-display.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "carbonara";
  src: local("cyberDisplay"), url("./Fonts/carbonara(FONT BY LYAJKA).ttf") format("truetype");
  font-weight: normal;
}
